.Avatar {
  margin: 15% 0 5%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Paper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form {
  width: 100%; // Fix IE 11 issue.
}

.Button {
  margin: 12% 0 5%;
}

#Modal {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

#ModalContent {
  width: 400px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 5px 5px 10px;
  padding: 5px;
}