.MuiPaper-rounded.ListPaper {
  flex-grow: 1;
  padding: 5px;
}

.MuiList-root.List {
  overflow: auto;
  max-height: 250px;
}

.MuiContainer-root.AddContainer {
  padding: 2px 4px;
  display: flex;
}

.MuiFormControl-root.AddInput {
  flex: 1;
}

.MuiContainer-root.AddButton {
  padding: 10px;
}
