#AppBar {
  flex-grow: 1;
  background-color: #ffffff;
}

.Title {
  flex-grow: 1;
  color: #000000;
  text-align: center;
}

.MainContainer {
  margin-top: 50px;
  text-align: center;
}

.SliderPictures {
  max-width: 350px;
  width: 100%;
  height: auto;
}