.MuiPaper-root.ContainerPaper {
  padding: 5px;
  text-align: center;
}

.MuiPaper-root.ContainerPaperNonCentered {
  padding: 10px;
  text-align: left;
}

.MuiFormControl-root.TextAreas {
  padding-bottom: 15px;
}

#EventPicture {
  max-width: 100%;
  max-height: 100%;
}

#Map {
  max-width: 100%;
  max-height: 100%;
  height: 275px;
  width: 385px;
}

.MuiContainer-root.Buttons {
  text-align: center;
}

.MuiButton-contained.Buttons {
  margin-top: 15px;
}
