#AppBar {
  flex-grow: 1;
  background-color: #ffffff;
}

.Logo {
  flex-grow: 1;
  margin: 5px;
  max-width: 75px;
  width: 100%;
  height: auto;
}

.HeaderLoginButtons {
  flex-grow: 1;
  text-align: right;
}

.MainContainer {
  margin-top: 50px;
  text-align: center;
}

.SliderPictures {
  max-width: 350px;
  width: 100%;
  height: auto;
}

